.aligns{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3%;
}
a{
    text-decoration: none;
    color: #000;
}
.fonts{
    font-size: xx-large;
    padding-top: 2%;
}