/* .thumbnail{
    background: transparent;
    border: 0cap;
}
.thumbnail > img{
    margin-right: auto;
    margin-left: auto;                                                                                                                                                                                                      
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
} */
.img-round{
    border-radius: 500px;
    width: 50%;
    align-self: center;
}
.caption{
    text-align: center;
}
.card{
    border: none;
}
.align{
    text-align: center;
    color: rgb(139, 43, 43);
}
.fonts{
    font-size: xx-large;
}
.aligns{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: #000;
}